<h3>Signin</h3>

<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="">
    
    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password" id="">

    <input type="submit" value="Login" class="btn">
</form>


<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="">
    
    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password" id="">

    <input type="submit" value="Register" class="btn">
</form>